<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="site-navigation-main">
  <input type="checkbox" id="toggle1"/>
  <label for="toggle1" onclick>Menu</label>
  <nav>
    <div class="nav_item">
      <a routerLink="/">home</a>
    </div>
    <div class="nav_item">
      <a routerLink="/about">about</a>
    </div>
    <div class="nav_item">
      <a routerLink="/calendar">concerts</a>
    </div>
    <div class="nav_item">
      <a routerLink="/media">media</a>
    </div>
    <div class="nav_item">
      <a routerLink="/contact">contact</a>
    </div>
  </nav>
</header>

</body>
</html>
