<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pic-container-wrapper" id="pic-container-wrapper">
  <div class="pic-container" id="pic-container">
    <div class="pic-and-text">
      <img class="pic" src="assets/meg.jpg">
      <img id="meg_name" src="assets/meg_name_resize.png">
      <img id="meg_instru" src="assets/meg_instrument.png">
      <div class="mini-bio">
        Meg completed her classical musical studies in violin at the Royal Conservatories of Brussels and Liège. Although she performs regularly
        in the classical genre as a founding member of the string quartet <a href="http://www.quatuormp4.com" target="_blank" class="pink"><b><i>Quatuor Mp4</i></b></a> or has performed with institutions such as
        the <a href="https://www.lamonnaie.be/en/program?c=1" target="_blank" class="pink"><b><i>Royal Opera of the Monnaie</i></b></a>, she currently tours internationally
        and records with artists such as <a href="http://awvfts.com/" target="_blank" class="pink"><b><i>A Winged Victory for the Sullen</i></b></a>,
        <a href="https://www.facebook.com/starsofthelid/" target="_blank" class="pink"><b><i>Stars of the Lid</i></b></a>,  <a href="http://www.christinavantzou.com/" target="_blank" class="pink"><b><i>Christina Vantzou</i></b></a>,
        and has recently performed for BBC proms
        in Royal Albert Hall.
        <br><br>

        She is one of the founding members of the Brussels-based <a href="https://www.echocollective.be/" target="_blank" class="pink"><b><i>Echo Collective</i></b></a>
        and works in intimate collaboration
        with the <a href="https://www.ancre.be/" target="_blank" class="pink"><b><i>Théâtre de l’Ancre in Charleroi</i></b></a>, the string quintet
        <a href="https://www.facebook.com/bowquintet/?fref=ts" target="_blank" class="pink"><b><i>Bow</i></b></a>,
        and <a href="http://www.dirtymonitor.com/" target="_blank" class="pink"><b><i>Dirty Monitor</i></b></a>.
      </div>
    </div>
    <div class="pic-and-text">
      <img class="pic" src="assets/maia.jpg">
      <img id="maia_name" src="assets/maia_name.png">
      <img id="maia_instru" src="assets/maia_instru.png">
      <div class="mini-bio"> Maia studied violin at the Royal Conservatories of Brussels and currently plays as a fixed
        violinist for the renowned <a href="https://www.lamonnaie.be/en/program?c=1" target="_blank" class="pink"><b><i>Royal Opera of the Monnaie</i></b></a>
        in Brussels although she has also been a member of the Orkest
        <a href="http://www.defilharmonie.be/" target="_blank" class="pink"><b><i>de Filharmonie</i></b></a>
        in Antwerp.

        <br><br>
        She also plays with different international and Belgian ensembles including <a href="http://www.musiquesnouvelles.com/" target="_blank" class="pink"><b><i>Musiques Nouvelles</i></b></a>,
        <a href="http://bohoplayers.com/about/the-orchestra/?lang=en" target="_blank" class="pink"><b><i>Boho Orchestra</i></b></a>, as well as electronic
        and rock bands like <a href="http://www.woodkid.com/" target="_blank" class="pink"><b><i>Woodkid</i></b></a>,
        and <a href="https://www.facebook.com/thejunglesyndrome/" target="_blank" class="pink"><b><i>The Jungle Syndrome</i></b></a>.
      </div>
    </div>
    <div class="pic-and-text">
      <img class="pic" src="assets/nicole.jpg">
      <img id="nicole_name" src="assets/nicole_resized_name.png">
      <img id="nicole_instru" src="assets/nicole_instru.png">
      <div class="mini-bio"> Nicole studied both violin and viola at Western Washington University,
        the Royal Conservatory of Brussels, and the Royal Conservatory of Antwerp.
        <br><br>
        She currently focuses
        her musical interests on classical, folk, world and jazz genres and participates in projects with
        <a href="https://www.discogs.com/Giovanni-Di-Domenico-Jim-ORourke-Arco/release/7528863" target="_blank" class="pink"><b><i>Arco (Jim O'Rourke)</i></b></a>,
        <a href="https://www.facebook.com/TrashACordes/info" target="_blank" class="pink"><b><i>Trash à Cordes</i></b></a>,
        <a href="https://www.facebook.com/Juan-Quintero-Pagina-501581256590791/?ref=ts&fref=ts" target="_blank" class="pink"><b><i>Juan Quintero</i></b></a>,
        <a href="http://gerardodigiusto.free.fr/" target="_blank" class="pink"><b><i>Gerardo di Giusto</i></b></a>,
        <a href="https://www.facebook.com/GusEcclesiaOficial/" target="_blank" class="pink"><b><i>Gustavo Ecclesia</i></b></a>,
        <a href="https://philemonchien.wordpress.com/" target="_blank" class="pink"><b><i>Philemon le Chien qui ne Voulait pas Grandir</i></b></a>,
        <a href="https://www.facebook.com/ibexpo/" target="_blank" class="pink"><b><i>Isildurs Bane</i></b></a>, and
        <a href="http://www.juventuslyrica.org.ar/index.php" target="_blank" class="pink"><b><i>Juventus Lyrica</i></b></a>, among others.
      </div>
    </div>
    <div class="pic-and-text">
      <img class="pic" src="assets/annemie.jpg">
      <img id="annemie_name" src="assets/annemie_name.png">
      <img id="annemie_instru" src="assets/annemie_instru.png">
      <div class="mini-bio"> Cellist Annemie completed her cello studies at the Conservatory of Luxembourg, University of Leeds,
        and the Royal Conservatory of Brussels.
        <br><br>
        Particularly interested in Jazz, improvisation, and World Music, Annemie performs and tours with
        ensembles such as
        <a href="http://www.oaktreetrio.com/" target="_blank" class="pink"><b><i>Oak Tree</i></b></a>,
        <a href="http://www.igloorecords.be/artists/mathilde-renault/" target="_blank" class="pink"><b><i>Mathilde Renault</i></b></a>,
        <i>Inuk</i>,
        <a href="https://philemonchien.wordpress.com/" target="_blank" class="pink"><b><i>Philemon le Chien qui ne Voulait pas Grandir</i></b></a>,
        <i>Julia Goes Mercutio</i>, and
        <i>Jihye Lee</i>.
      </div>
    </div>
    <div class="about">about</div>
    <div class="explanation">What does it mean to be a <span class="pink">Millenial</span> and a <span class="pink">classically-trained musician</span>?
      Raised on the internet, around open-source concepts, and to embody some of the most progressive political and social values in history, we are classical musicians
      who are a unique product of our generation.
      Concretely, this translates into the ideas of <span class="pink">collaboration</span>, <span class="pink">expansion</span>, and <span class="pink">genre-blending</span>. Despite a lifetime of classical training,
      we do not close the door to collaboration with other genres, we thrive on it. Anything is allowed.
      <br><br>
      Brussels-based, we are a group of classically-trained strings who had continually crossed paths in projects
      spanning the poles from Bluegrass chop techniques, jazz improvisation, minimalism, baroque, theater, pop,
      symphonic orchestra to electronica. In a desire to funnel this passion for the classical, the non-classical and the collaborative,
      <i>In Praise of Folly</i> is a <span class="pink">string quartet</span> that offers a shared desire to bring the unique color of strings to a non-classical domain by
      supporting the unique worlds’ of pop artists. And at the same time, a drive to contribute to the world of classical music is the motivating
      factor for our work with young Millenial composers to create new, contemporary chamber music.
      <br><br>
      With over 100 years combined experience playing classical and non-classical music,
      we perform on stage and in the studio with <span class="pink">independent, rock, and pop</span> bands in Europe and beyond.
      While able to perform acoustically, we are also well-versed in performing using <span class="pink">amplification,
            in-ear microphones or on clicks</span>; reading traditional sheet music as well as chord charts and from memory.
      We can also provide <span class="pink">backup vocals</span>, some secondary instruments, and string arrangements.
    </div>
  </div>

</div>


</body>
</html>
