<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="top"></div>

<div class="navbar" role="navigation">
  <a href="#top">
    <div class="container-fluid"> <img class="arrow-up-test" src="assets/arrow_up.png"></div>
  </a>
</div>

<div id="page">
  <ul class="cb-slideshow">
    <li><span></span><div></div></li>
    <li><span></span><div></div></li>
    <li><span></span><div></div></li>
    <li><span></span><div></div></li>
    <li><span></span><div></div></li>
  </ul>

  <a class="scroll">
    <img class="arrow-down" src="assets/arrow_down.png">
  </a>

</div>
<video-component></video-component>
<div id="home-calendar">
  <app-calendar></app-calendar>
</div>

</body>
</html>
