<div id="top"></div>

<div class="navbar" role="navigation">
  <a href="#top">
    <div class="container-fluid"> <img class="arrow-up-test" src="assets/arrow_up.png"></div>
  </a>
</div>

<div id="page">
  <ul class="cb-slideshow">
    <li><span></span><div></div></li>
    <li><span></span><div></div></li>
    <li><span></span><div></div></li>
    <li><span></span><div></div></li>
    <li><span></span><div></div></li>
  </ul>

  <a class="scroll" (click)="scrollTo()">
    <img class="arrow-down" src="assets/arrow_down.png">
  </a>

</div>

<button onclick="myFunction()">Click me</button>

<p id="demo"></p>

<script>
  function myFunction() {
    document.getElementById("demo").innerHTML = "Hello World";
  }
</script>

<video-component></video-component>
<div id="home-calendar">
  <app-calendar></app-calendar>
</div>

<section>
	<h1>{{title}}</h1>
	<h1>{{ content.title }}</h1>
	<h2>{{ content.subtitle }}</h2>
</section>