<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="body-contact">
  <div class="message">
    For studio and concert bookings
  </div>
  <div>
    <div class="contact-info">
      <div class="how">Email</div>
      <div class="what">laughingchispas@gmail.com</div>
    </div>
    <div class="contact-info">
      <div class="how">Phone</div>
      <div class="what">+32 (0)496 390024</div>
    </div>
  </div>
  <div  class="contact-pic">
  </div>
</div>
</body>
</html>
