<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="body-contact">
  <div class="message">
    For studio and concert bookings
  </div>
  <div>
    <div class="contact-info">
      <div class="how">Email</div>
      <div class="what">laughingchispas@gmail.com</div>
    </div>
    <div class="contact-info">
      <div class="how">Phone</div>
      <div class="what">+32 (0)496 390024</div>
    </div>
  </div>
  <div  class="contact-pic">
  </div>
</div>
</body>
</html>
