<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
  <!--<div class="second-title-container">
    <div class="panel"><div class="second-title">IN PRAISE OF &nbspF<span id="logo-embed">{</span>LLY</div></div>
  </div>-->
  <div class="video-container">
    <div class="internal-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/kcdoWaRdyWs" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
</body>
</html>
