<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<div class="second-title-container">
  <div class="panel"><div class="second-title">IN PRAISE OF F<span id="logo-embed">{{'{'}}</span>LLY</div></div>
  <div class="string-quartet">String Quartet</div>
  <!--<div class="genre"> <span>Pop</span><span> and </span><span>Contemporary Chamber</span>
  </div>-->
  <div class="second-sub-title"><span class="points">Studio</span><span class="dot">•</span><span class="points">Stage</span><span class="dot">•</span><span class="points">Tour</span>
  </div>
</div>
</body>
</html>
