<footer>
  <div class="footer-icons">
    <a href="https://www.facebook.com/inpraiseoffolly/" target="_blank">
      <img class="icon" src="assets/facebook-icon.png">
    </a>
    <a href="https://soundcloud.com/inpraiseoffolly" target="_blank">
      <img class="icon" src="./assets/sound_cloud.png">
    </a>
    <a href="http://www.youtube.com" target="_blank">
      <img class="icon" src="./assets/youtube.png">
    </a>
    <div class="footer-info">laughingchispas@gmail.com</div>
    <div class="footer-info">+32 (0)496 39 00 24</div>
  </div>
</footer>
