<div id="tour-home">
  <div class="tour-nest">
    <div class="tour-title">Tour Dates</div>
    <div class="tour-item">
      <div class="concert-info-date">
        <div class="date"><b>Apr 30</b></div>
        <div class="day">Sunday</div>
      </div>
      <div class="concert-info-artist">
        <a href="http://www.marillionweekend.com/MW2017UK/home.html" target="_blank" class="venue">De Montfort Hall</a>
        <a href="http://marillion.com" target="_blank" class="artist">Marillion</a>
        <div class="location">Leicester, UK</div>
      </div>
      <a href="http://www.marillionweekend.com/MW2017UK/home.html" target="_blank" class="tickets">sold out</a>
    </div>
    <div class="tour-item">
      <div class="concert-info-date">
        <div class="date"><b>Oct 7</b></div>
        <div class="day">Saturday</div>
      </div>
      <div class="concert-info-artist">
        <a href="http://www.le-zenith.com/fr/accueil/bienvenue.html" target="_blank" class="venue">Le Zénith de Paris</a>
        <a href="http://marillion.com" target="_blank" class="artist">Marillion</a>
        <div class="location">Paris, FR</div>
      </div>
      <a href="http://www.songkick.com/concerts/28740979-marillion-at-zenith-de-paris" target="_blank" class="tickets">Tickets</a>
    </div>
    <div class="tour-item">
      <div class="concert-info-date">
        <div class="date"><b>Oct 10</b></div>
        <div class="day">Tuesday</div>
      </div>
      <div class="concert-info-artist">
        <a href="https://www.tivolivredenburg.nl/nl/" target="_blank" class="venue">Tivolivredenburg</a>
        <a href="http://marillion.com" target="_blank" class="artist">Marillion</a>
        <div class="location">Utrecht, NL</div>
      </div>
      <a href="http://www.ticketmaster.nl/event/marillion-tickets/186297?language=en-us" target="_blank" class="tickets">Sold Out</a>
    </div>
    <div class="tour-item">
      <div class="concert-info-date">
        <div class="date"><b>Oct 13</b></div>
        <div class="day">Friday</div>
      </div>
      <div class="concert-info-artist">
        <a href="http://www.royalalberthall.com" target="_blank" class="venue">Royal Albert Hall</a>
        <a href="http://marillion.com" target="_blank" class="artist">Marillion</a>
        <div class="location">London, UK</div>
      </div>
      <a href="http://www.royalalberthall.com/tickets/events/2017/marillion/" target="_blank" class="tickets">Sold Out</a>
    </div>
    <div class="tour-item">
      <div class="concert-info-date">
        <div class="date"><b>Mar 9</b></div>
        <div class="day">Friday</div>
      </div>
      <div class="concert-info-artist">
        <a href="https://www.philharmonie.lu/en/" target="_blank" class="venue">La Philharmonie Luxembourg</a>
        <a href="http://polbelardi.com/force/" target="_blank" class="artist">Pol Belardi's Force</a>
        <div class="location">Luxembourg, LU</div>
      </div>
      <a href="https://www.philharmonie.lu/en/programm#" target="_blank" class="tickets">Tickets</a>
    </div>
  </div>
  <div class="tour-nest" id="past-tour">
    <div class="tour-title">past dates</div>
    <div class="tour-item">
      <div class="concert-info-date">
        <div class="date"><b>Mar 26, 2017</b></div>
        <div class="day">Sunday</div>
      </div>
      <div class="concert-info-artist">
        <a href="http://www.marillionweekend.com/MW2017UK/home.html" target="_blank" class="venue">Port Zélande, NL</a>
        <a href="http://marillion.com" target="_blank" class="artist">Marillion</a>
        <div class="location">Ouddorp, NL</div>
      </div>
      <div class="tickets-past">Sold Out</div>
    </div>
  </div>
</div>
